{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "mozorg/base-resp.html" %}

{% add_lang_files "mozorg/home" "mwc2014_promos" %}

{% from 'macros.html' import facebook_share_url, twitter_share_url %}

{% block page_title %}{{_('Home of the Mozilla Project')}}{% endblock %}
{% block body_id %}home{% endblock %}
{% block body_class %}lang-{{ LANG }}{% endblock %}

{% block extra_meta %}
<!-- validates bing webmaster tools -->
<meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574" />
<!-- YouTube Verification -->
<meta name="google-site-verification" content="Mef8xJZ1-faaN2AdGdCfRFo5VeoXOSxjXNIzMsxcx94" />
{% endblock %}

{% block string_data %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block js %}{% endblock %}

{% block site_header %}
  <header id="masthead">
    <a href="{{ url('mozorg.home') }}" id="tabzilla" data-infobar="{{ settings.TABZILLA_INFOBAR_OPTIONS }}">Mozilla</a>

    {% block site_header_nav %}
    <nav id="nav-main" role="navigation">
      <span class="toggle" role="button" aria-controls="nav-main-menu" aria-expanded="false" tabindex="0">{{_('Menu')}}</span>
      <ul id="nav-main-menu">
        <li><a href="{{ url('mozorg.contribute') }}">{{_('Volunteer')}}</a></li>
        <li><a href="{{ url('mozorg.mission') }}">{{_('Our Mission')}}</a></li>
        <li><a href="#">{{_('Mozilla Voices')}}</a></li>
        <li><a href="{{ url('firefox.desktop.index') }}">{{_('Firefox')}}</a></li>
      </ul>
    </nav>
    {% endblock %}

    {% block site_header_logo %}{% endblock %}

    {% block alt_header %}{% endblock %}

    {% block subnav %}{% endblock %}

    {% block breadcrumbs %}{% endblock %}

  </header>
{% endblock %}

{% block content %}
<main role="main">
  <header class="mission">
    <div class="container">
      <h1>{{ high_res_img('img/home/voices/mozilla-wordmark-white.png', {'alt': 'Mozilla', 'width': '315', 'height': '90'}) }}</h1>
      <ul class="values">
        <li>{{_('<strong>Fostering</strong> change')}}</li>
        <li>{{_('<strong>Advocating</strong> openness')}}</li>
        <li>{{_('<strong>Promoting</strong> standards')}}</li>
        <li>{{_('<strong>Teaching</strong> the Web')}}</li>
      </ul>
    </div>
  </header>

  <section class="promo-grid-wrapper">
    <div class="promo-grid-inner">
      {% block promo_grid %}{% endblock %}
    </div>
    <div class="faces-grid-inner">
      <ul class="faces-grid">
        {% for i in range(1, 64)|list|shuffle %}
          <li class="{{'face-' ~ '%03d'|format(i)}}"></li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="firefox-download-section">
    <div class="container">
      <header>
        <a href="{{ url('firefox') }}" id="firefox-promo-link">
          <h3><img src="{{ MEDIA_URL }}img/home/voices/firefox-logo-wordmark-white.png" alt="Firefox"></h3>
          <h4>{{_('Committed to <strong>you, your privacy</strong> and an <strong>open Web</strong>')}}</h4>
        </a>
      </header>
      {{ download_firefox(simple=true) }}
    </div>
  </section>

  <section id="mozilla-voices">
    <div class="container">
      <h2>{{ _('The Open Standard') }}</h2>
      <div class="filter">
        <h3>{{ _('Sort by') }}</h3>
        <button type="button" id="technology-btn" aria-controls="voices-technology" class="selected">{{ _('Technology') }}</button>
        <button type="button" id="privacy-btn" aria-controls="voices-privacy">{{ _('Privacy') }}</button>
        <button type="button" id="open-web-btn" aria-controls="voices-open-web">{{ _('Open Web') }}</button>
        <button type="button" id="mobile-btn" aria-controls="voices-mobile">{{ _('Mobile') }}</button>
      </div>
      <div class="voices-container selected" id="voices-technology">
        <ul class="headlines">
          <li role="presentation">
            <a href="#" aria-controls="tech-article-1">
              <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
              <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="tech-article-2">
              <h3>How Kids Find Online Privacy</h3>
              <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="tech-article-3">
              <h3>At GSA, an ‘Internet of Things’ experiment</h3>
              <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="tech-article-4">
              <h3>Group seeks ban on drones to protect privacy</h3>
              <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            </a>
          </li>
        </ul>
        <div class="article-container">
          <article id="tech-article-1">
            <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
            <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            <p>Why? Because cameras keep getting cheaper, and better, and more ubiquitous, as does facial recognition software. As The Economist recently put it: “the idea that anyone will be able hide for long in Nepal, or anywhere else, looks quaint.” Have you ever in your life been photographed doing something embarrassing? Get your explanations ready now: you can expect every picture (or video) you’ve ever appeared in to eventually be connected with you. Traffic cameras, dashboard cameras, police body cameras, drone cameras — every time you pop up in any of those, your identity, location, and activity will be identified, indexed, and stored.</p>
            <a href="http://techcrunch.com/2014/08/30/online-anonymity-will-soon-be-the-only-kind-we-have/">Read more</a>
          </article>
          <article id="tech-article-2">
            <h3>How Kids Find Online Privacy</h3>
            <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            <p>1. Social steganography. The most common way teens find privacy is not by restricting access to content, but by restricting access to meaning. They encode what they're posting using in-jokes, song lyrics, pronouns, and references that outsiders won't recognize.</p>

            <p>2. Super logoff. Even Facebook can be turned into an ephemeral tool if you deactivate your profile whenever you're done using it. All you have to do is pretend to delete your account and Facebook will give you the option to deactivate instead. When you're not activated, no one can search for you or leave messages for you. While this is not a common practice, it's pretty ingenious.</p>

            <p>3. Switch, switch, and switch. Parents think that they're "cool" when they know about the latest, greatest app. But once they show up, it's not as much fun. As a result, plenty of teens are on the hunt for something that no one's ever heard of. They jump from service to service, looking for a place where they can be let alone.</p>

            <a href="http://reason.com/archives/2014/08/31/how-kids-find-online-privacy">Read more</a>
          </article>
          <article id="tech-article-3">
            <h3>At GSA, an ‘Internet of Things’ experiment</h3>
            <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            <p>Some detect how much sunlight shines through a window, and indoor bulbs dim or shades raise themselves accordingly. Others sense motion, turning off lights, air conditioners or power sources when employees are away from their desks. Some sensors simply relay information about total utility consumption, such as how much cooled water or energy employees have used in a day.</p>
            <a href="http://www.washingtonpost.com/business/on-it/at-gsa-an-internet-of-things-experiment/2014/08/30/403c620c-2e10-11e4-994d-202962a9150c_story.html">Read more</a>
          </article>
          <article id="tech-article-4">
            <h3>Group seeks ban on drones to protect privacy</h3>
            <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            <p>To ensure the crimes never surface, the VP orders the former agents killed. But because the agents are RED, they don’t make easy targets.</p>
            <p>One of the other RED agents is Marvin, portrayed by John Malkovich. Marvin is slightly psychotic, mostly because the government gave him daily doses of LSD for 11 years. Marvin is paranoid and is convinced he is constantly being watched. He has a decoy house while he actually lives in an underground bunker accessed through the trunk of a car.</p>
            <a href="http://www.postcrescent.com/story/money/2014/08/31/group-seeks-ban-drones-protect-privacy/14817525/">Read more</a>
          </article>
        </div>
      </div>
      <div class="voices-container" id="voices-privacy">
        <ul class="headlines">
          <li role="presentation">
            <a href="#" aria-controls="privacy-article-1">
              <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
              <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="privacy-article-2">
              <h3>How Kids Find Online Privacy</h3>
              <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="privacy-article-3">
              <h3>At GSA, an ‘Internet of Things’ experiment</h3>
              <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="privacy-article-4">
              <h3>Group seeks ban on drones to protect privacy</h3>
              <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            </a>
          </li>
        </ul>
        <div class="article-container">
          <article id="privacy-article-1">
            <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
            <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            <p>Why? Because cameras keep getting cheaper, and better, and more ubiquitous, as does facial recognition software. As The Economist recently put it: “the idea that anyone will be able hide for long in Nepal, or anywhere else, looks quaint.” Have you ever in your life been photographed doing something embarrassing? Get your explanations ready now: you can expect every picture (or video) you’ve ever appeared in to eventually be connected with you. Traffic cameras, dashboard cameras, police body cameras, drone cameras — every time you pop up in any of those, your identity, location, and activity will be identified, indexed, and stored.</p>
            <a href="http://techcrunch.com/2014/08/30/online-anonymity-will-soon-be-the-only-kind-we-have/">Read more</a>
          </article>
          <article id="privacy-article-2">
            <h3>How Kids Find Online Privacy</h3>
            <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            <p>1. Social steganography. The most common way teens find privacy is not by restricting access to content, but by restricting access to meaning. They encode what they're posting using in-jokes, song lyrics, pronouns, and references that outsiders won't recognize.</p>

            <p>2. Super logoff. Even Facebook can be turned into an ephemeral tool if you deactivate your profile whenever you're done using it. All you have to do is pretend to delete your account and Facebook will give you the option to deactivate instead. When you're not activated, no one can search for you or leave messages for you. While this is not a common practice, it's pretty ingenious.</p>

            <p>3. Switch, switch, and switch. Parents think that they're "cool" when they know about the latest, greatest app. But once they show up, it's not as much fun. As a result, plenty of teens are on the hunt for something that no one's ever heard of. They jump from service to service, looking for a place where they can be let alone.</p>

            <a href="http://reason.com/archives/2014/08/31/how-kids-find-online-privacy">Read more</a>
          </article>
          <article id="privacy-article-3">
            <h3>At GSA, an ‘Internet of Things’ experiment</h3>
            <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            <p>Some detect how much sunlight shines through a window, and indoor bulbs dim or shades raise themselves accordingly. Others sense motion, turning off lights, air conditioners or power sources when employees are away from their desks. Some sensors simply relay information about total utility consumption, such as how much cooled water or energy employees have used in a day.</p>
            <a href="http://www.washingtonpost.com/business/on-it/at-gsa-an-internet-of-things-experiment/2014/08/30/403c620c-2e10-11e4-994d-202962a9150c_story.html">Read more</a>
          </article>
          <article id="privacy-article-4">
            <h3>Group seeks ban on drones to protect privacy</h3>
            <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            <p>To ensure the crimes never surface, the VP orders the former agents killed. But because the agents are RED, they don’t make easy targets.</p>
            <p>One of the other RED agents is Marvin, portrayed by John Malkovich. Marvin is slightly psychotic, mostly because the government gave him daily doses of LSD for 11 years. Marvin is paranoid and is convinced he is constantly being watched. He has a decoy house while he actually lives in an underground bunker accessed through the trunk of a car.</p>
            <a href="http://www.postcrescent.com/story/money/2014/08/31/group-seeks-ban-drones-protect-privacy/14817525/">Read more</a>
          </article>
        </div>
      </div>
      <div class="voices-container" id="voices-open-web">
        <ul class="headlines">
          <li role="presentation">
            <a href="#" aria-controls="open-web-article-1">
              <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
              <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="open-web-article-2">
              <h3>How Kids Find Online Privacy</h3>
              <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="open-web-article-3">
              <h3>At GSA, an ‘Internet of Things’ experiment</h3>
              <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="open-web-article-4">
              <h3>Group seeks ban on drones to protect privacy</h3>
              <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            </a>
          </li>
        </ul>
        <div class="article-container">
          <article id="open-web-article-1">
            <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
            <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            <p>Why? Because cameras keep getting cheaper, and better, and more ubiquitous, as does facial recognition software. As The Economist recently put it: “the idea that anyone will be able hide for long in Nepal, or anywhere else, looks quaint.” Have you ever in your life been photographed doing something embarrassing? Get your explanations ready now: you can expect every picture (or video) you’ve ever appeared in to eventually be connected with you. Traffic cameras, dashboard cameras, police body cameras, drone cameras — every time you pop up in any of those, your identity, location, and activity will be identified, indexed, and stored.</p>
            <a href="http://techcrunch.com/2014/08/30/online-anonymity-will-soon-be-the-only-kind-we-have/">Read more</a>
          </article>
          <article id="open-web-article-2">
            <h3>How Kids Find Online Privacy</h3>
            <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            <p>1. Social steganography. The most common way teens find privacy is not by restricting access to content, but by restricting access to meaning. They encode what they're posting using in-jokes, song lyrics, pronouns, and references that outsiders won't recognize.</p>

            <p>2. Super logoff. Even Facebook can be turned into an ephemeral tool if you deactivate your profile whenever you're done using it. All you have to do is pretend to delete your account and Facebook will give you the option to deactivate instead. When you're not activated, no one can search for you or leave messages for you. While this is not a common practice, it's pretty ingenious.</p>

            <p>3. Switch, switch, and switch. Parents think that they're "cool" when they know about the latest, greatest app. But once they show up, it's not as much fun. As a result, plenty of teens are on the hunt for something that no one's ever heard of. They jump from service to service, looking for a place where they can be let alone.</p>

            <a href="http://reason.com/archives/2014/08/31/how-kids-find-online-privacy">Read more</a>
          </article>
          <article id="open-web-article-3">
            <h3>At GSA, an ‘Internet of Things’ experiment</h3>
            <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            <p>Some detect how much sunlight shines through a window, and indoor bulbs dim or shades raise themselves accordingly. Others sense motion, turning off lights, air conditioners or power sources when employees are away from their desks. Some sensors simply relay information about total utility consumption, such as how much cooled water or energy employees have used in a day.</p>
            <a href="http://www.washingtonpost.com/business/on-it/at-gsa-an-internet-of-things-experiment/2014/08/30/403c620c-2e10-11e4-994d-202962a9150c_story.html">Read more</a>
          </article>
          <article id="open-web-article-4">
            <h3>Group seeks ban on drones to protect privacy</h3>
            <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            <p>To ensure the crimes never surface, the VP orders the former agents killed. But because the agents are RED, they don’t make easy targets.</p>
            <p>One of the other RED agents is Marvin, portrayed by John Malkovich. Marvin is slightly psychotic, mostly because the government gave him daily doses of LSD for 11 years. Marvin is paranoid and is convinced he is constantly being watched. He has a decoy house while he actually lives in an underground bunker accessed through the trunk of a car.</p>
            <a href="http://www.postcrescent.com/story/money/2014/08/31/group-seeks-ban-drones-protect-privacy/14817525/">Read more</a>
          </article>
        </div>
      </div>
      <div class="voices-container" id="voices-mobile">
        <ul class="headlines">
          <li role="presentation">
            <a href="#" aria-controls="mobile-article-1">
              <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
              <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="mobile-article-2">
              <h3>How Kids Find Online Privacy</h3>
              <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="mobile-article-3">
              <h3>Mobile headline 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </a>
          </li>
          <li role="presentation">
            <a href="#" aria-controls="mobile-article-4">
              <h3>Group seeks ban on drones to protect privacy</h3>
              <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            </a>
          </li>
        </ul>
        <div class="article-container">
          <article id="mobile-article-1">
            <h3>Online Anonymity Will Soon Be The Only Kind We Have</h3>
            <p>Anonymity: it’s all the rage–Whisper, Secret–and it’s rage-inducing. A Brazilian court has ruled that Secret must be removed from app stores there, and existing installs must be remotely wiped. The UK’s House of Lords has essentially recommended the extinction of online anonymity.</p>
            <p>Why? Because cameras keep getting cheaper, and better, and more ubiquitous, as does facial recognition software. As The Economist recently put it: “the idea that anyone will be able hide for long in Nepal, or anywhere else, looks quaint.” Have you ever in your life been photographed doing something embarrassing? Get your explanations ready now: you can expect every picture (or video) you’ve ever appeared in to eventually be connected with you. Traffic cameras, dashboard cameras, police body cameras, drone cameras — every time you pop up in any of those, your identity, location, and activity will be identified, indexed, and stored.</p>
            <a href="http://techcrunch.com/2014/08/30/online-anonymity-will-soon-be-the-only-kind-we-have/">Read more</a>
          </article>
          <article id="mobile-article-2">
            <h3>How Kids Find Online Privacy</h3>
            <p>Anthropologist danah boyd (uncapitalization hers) is the author of It's Complicated: The Social Lives of Networked Teens (Yale University Press). In May, she told reason three ways kids find privacy online.</p>
            <p>1. Social steganography. The most common way teens find privacy is not by restricting access to content, but by restricting access to meaning. They encode what they're posting using in-jokes, song lyrics, pronouns, and references that outsiders won't recognize.</p>

            <p>2. Super logoff. Even Facebook can be turned into an ephemeral tool if you deactivate your profile whenever you're done using it. All you have to do is pretend to delete your account and Facebook will give you the option to deactivate instead. When you're not activated, no one can search for you or leave messages for you. While this is not a common practice, it's pretty ingenious.</p>

            <p>3. Switch, switch, and switch. Parents think that they're "cool" when they know about the latest, greatest app. But once they show up, it's not as much fun. As a result, plenty of teens are on the hunt for something that no one's ever heard of. They jump from service to service, looking for a place where they can be let alone.</p>

            <a href="http://reason.com/archives/2014/08/31/how-kids-find-online-privacy">Read more</a>
          </article>
          <article id="mobile-article-3">
            <h3>At GSA, an ‘Internet of Things’ experiment</h3>
            <p>At the General Services Administration in downtown Washington, tiny white sensors pepper the windows, ceiling tiles, heating units, water tanks and fan coolers, almost blending in to the building’s open-plan decor.</p>
            <p>Some detect how much sunlight shines through a window, and indoor bulbs dim or shades raise themselves accordingly. Others sense motion, turning off lights, air conditioners or power sources when employees are away from their desks. Some sensors simply relay information about total utility consumption, such as how much cooled water or energy employees have used in a day.</p>
            <a href="http://www.washingtonpost.com/business/on-it/at-gsa-an-internet-of-things-experiment/2014/08/30/403c620c-2e10-11e4-994d-202962a9150c_story.html">Read more</a>
          </article>
          <article id="mobile-article-4">
            <h3>Group seeks ban on drones to protect privacy</h3>
            <p>I few weeks ago I watched “Red,” one of my favorite movies. The action flick stars Bruce Willis, Morgan Freeman and Helen Mirren as ex-CIA agents who are RED — Retired: Extremely Dangerous. The agents unknowingly witnessed war crimes committed decades ago by the now vice president with aspirations for his boss’ job.</p>
            <p>To ensure the crimes never surface, the VP orders the former agents killed. But because the agents are RED, they don’t make easy targets.</p>
            <p>One of the other RED agents is Marvin, portrayed by John Malkovich. Marvin is slightly psychotic, mostly because the government gave him daily doses of LSD for 11 years. Marvin is paranoid and is convinced he is constantly being watched. He has a decoy house while he actually lives in an underground bunker accessed through the trunk of a car.</p>
            <a href="http://www.postcrescent.com/story/money/2014/08/31/group-seeks-ban-drones-protect-privacy/14817525/">Read more</a>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section id="upcoming-events">
    <div class="container">
      <h2>{{ _('Upcoming events') }}</h2>

      <div class="inner-container">
        <a href="https://reps.mozilla.org/e/open-source-comes-to-campus-city-college-of-san-francisco/" class="featured-event">
          <div class="event-map">
            <time datetime="13-09-2014">
              <abbr class="date-month" title="{{ _('September') }}">{{ _('Sep') }}</abbr>
              <span class="date-day">13</span>
            </time>
            <img src="{{ media('img/home/voices/mapsmall.png') }}" alt="">
          </div>

          <div class="event-detail">
            <h3 class="next">{{ _('Next event') }}</h3>
            <h4>Open Source Comes to Campus: City College of San Francisco</h4>
            <time datetime="13-09-2014">September 13, 2014</time>
            <p class="event-location">CCSF Ocean Campus Batmale Hall , San Francisco, California, United States</p>
          </div>
        </a>

        <ul class="events-list">
          <li>
            <a href="https://reps.mozilla.org/e/hive-india-at-maker-faire-new-york-2014/">
              <time datetime="20-09-2014">
                <abbr class="date-month" title="{{ _('September') }}">{{ _('Sep') }}</abbr>
                <span class="date-day">20</span>
              </time>
              <div class="event-detail">
                <h3>Hive India at Maker Faire New York 2014</h3>
                <p class="event-location">New York Hall Of Science, Corona, New York, United States</p>
              </div>
            </a>
          </li>
          <li>
            <a href="https://reps.mozilla.org/e/google-summer-of-code/">
              <time datetime="24-09-2014">
                <abbr class="date-month" title="{{ _('September') }}">{{ _('Sep') }}</abbr>
                <span class="date-day">24</span>
              </time>
              <div class="event-detail">
                <h3>Google Summer of Code</h3>
                <p class="event-location">Marriott and Hilton, San Jose, California, United States</p>
              </div>
            </a>
          </li>
          <li>
            <a href="https://reps.mozilla.org/e/initiation-to-maker-parties-in-utah/">
              <time datetime="26-09-2014">
                <abbr class="date-month" title="{{ _('September') }}">{{ _('Sep') }}</abbr>
                <span class="date-day">26</span>
              </time>
              <div class="event-detail">
                <h3>Initiation to Maker Parties in Utah</h3>
                <p class="event-location">Harmons, Draper, Utah, United States</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <a class="all-events" href="https://reps.mozilla.org/events/">See all events</a>
    </div>
  </section>

  <section id="secondary-links">
    <ul>
      <li>
        <a class="add-ons" href="https://addons.mozilla.org/">
          <h2>{{ _('Add-ons') }}</h2>
          <p>{{ _('Sed sodales interdum adipiscing. Nulla ut congue ligula purus augue.') }}</p>
        </a>
      </li>
      <li>
        <a class="careers" href="https://careers.mozilla.org/">
          <h2>{{ _('Careers') }}</h2>
          <p>{{ _('Sed sodales interdum adipiscing. Nulla ut congue ligula purus augue.') }}</p>
        </a>
      </li>
      <li>
        <a class="help" href="https://sumo.mozilla.org/">
          <h2>{{ _('Need help?') }}</h2>
          <p>{{ _('Sed sodales interdum adipiscing. Nulla ut congue ligula purus augue.') }}</p>
        </a>
      </li>
    </ul>
  </section>

  <section id="newsletter-signup">
    <div class="container">
      {% if LANG == 'en-US' %}
        {{ mozorg_newsletter_form() }}
      {% else %}
        {{ email_newsletter_form() }}
      {% endif %}
    </div>
  </section>
</main>

{% endblock %}

{% block email_form %}{% endblock %}
